.git export-ignore
.gitignore export-ignore
.github export-ignore
.gitattributes export-ignore
.wordpress-org export-ignore
.editorconfig export-ignore
phpcs.xml export-ignore
.wp-env.json export-ignore
src export-ignore
composer.json export-ignore
composer.lock export-ignore
package.json export-ignore
package-lock.json export-ignore
bin export-ignore
tests export-ignore
phpunit.xml.dist export-ignore
